@font-face {

    src: url(../Raleway.ttf);
}

.grey {

    -fx-background-color: #292c2c;
}

.slider .track {

    -fx-background-color: #292c2c;
}

.controlButton{

    -fx-background-radius: 50%;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-background-insets: 0;
    -fx-background-color: linear-gradient(to bottom,#bec1c1 29% , #6b717b  50%, #bec1c1  71%);
    -fx-transition: 0.5s;
    -fx-background-size: 200% auto;
    -fx-color: white;
    -fx-display: block;
}

.controlButton:hover {

    -fx-border-color: transparent;
}

.transparent:hover {
    -fx-border-color: transparent;

}

.auxButton {

    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
}

.auxButton:hover {
    -fx-border-color: transparent;
}

.play{
    -fx-background-color: #FFFFFF;
}

.AnchorPane {

    -fx-background-image: url("../back.png");
    -fx-background-size: cover;
}
.songLabel{
    -fx-font-family:'Raleway', sans-serif;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}
.groupLabel{
    -fx-font-family:'Raleway', sans-serif;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.5em;
}

.alert {

    -fx-text-fill: #FF4365;
    -fx-font-family:'Raleway', sans-serif;
    -fx-font-style: italic;
    -fx-padding: 10;

}

.alert .dialog-pane {
    -fx-background-color: #292c2c;
}

.alert .dialog-pane .header-panel {
    -fx-background-color: #292c2c;
}

.alert .dialog-pane .content {
    -fx-text-fill: #333333;
}
