@font-face {

    src: url(../Raleway.ttf);
}

.grey {

    -fx-background-color: #292c2c;
}

.white {
    -fx-background-color: #FFFFFF;
}

.slider .track {

    -fx-background-color: #292c2c;
}

.lightgrey {
    -fx-background-color: linear-gradient(to bottom,#bec1c1 29% , #6b717b  50%, #bec1c1  71%);
}

.trackPane {

    -fx-border-width: 0.1275em;
    -fx-border-radius: 0.2em;
    -fx-padding: 0.425em;
}

.trackLabel {
    -fx-font-family: 'Bitter', serif;
    -fx-font-size: 1em;
    -fx-font-weight: 700;
    -fx-letter-spacing: 0.025em;
    -fx-text-transform: uppercase;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: rgba(235, 132, 117, 0.5);
    -fx-padding: 0.25em 0.625em;
    -fx-border-style: solid;
    -fx-border-width: 0.1875em;
    -fx-border-color: #292c2c;
    -fx-border-radius: 0.2em;
}

.trackListView {
    -fx-background-color: linear-gradient(to right, rgba(123, 87, 122, 0.5), rgba(235, 163, 149, 0.5));
    -fx-font-family: 'Bitter', serif;
    -fx-font-size: 1em;
    -fx-font-weight: 400;
    -fx-letter-spacing: 0.025em;
    -fx-text-transform: none;
    -fx-text-fill: #292c2c;
    -fx-border-radius: 0.5em;
    -fx-padding: 0.625em;
    -fx-border-style: solid;
    -fx-border-width: 0.1875em;
    -fx-border-color: #292c2c;
}

.trackListView .list-cell:selected {
    -fx-background-color: #292c2c;
}

.controlButton{

    -fx-background-radius: 50%;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-background-insets: 0;
    -fx-background-color: linear-gradient(to bottom,#bec1c1 29% , #6b717b  50%, #bec1c1  71%);
    -fx-transition: 0.5s;
    -fx-background-size: 200% auto;
    -fx-color: white;
    -fx-display: block;

}

.controlButton:hover {

    -fx-border-color: transparent;
}

.transparent {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.transparent:hover {
    -fx-border-color: transparent;

}

.border-transparent {
    -fx-border-color: transparent;
}

.auxButton {

    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
}

.auxButton:hover {
    -fx-border-color: transparent;
}

.play{
    -fx-background-color: #FFFFFF;
}

.fondo {

    -fx-background-image: url("../back.png");
    -fx-background-size: cover;
}
.songLabel{
    -fx-font-family:'Raleway', sans-serif;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}
.boxLabel{
    -fx-font-family:'Raleway', sans-serif;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1em;
    -fx-padding: 0.5em;

}

.generalPanel{
    -fx-font-family:'Raleway', sans-serif;
    -fx-margin:1em;
    -fx-padding:1em;
    -fx-line-height: 1.4em;
    -fx-box-shadow: 0.2em;
    -fx-text-alignment: justify;

}

.alert {

    -fx-text-fill: #FF4365;
    -fx-font-family:'Raleway', sans-serif;
    -fx-font-style: italic;
    -fx-padding: 10;

}

.alert .dialog-pane {
    -fx-background-color: #292c2c;
}

.alert .dialog-pane .header-panel {
    -fx-background-color: #292c2c;
}

.alert .dialog-pane .content {
    -fx-text-fill: #333333;
}
